# ----------------
# The following values must be populated for the local token server to dispense tokens.

TWILIO_ACCOUNT_SID=AC1f620a83678170a7ca0c6f21c16a0d59
TWILIO_API_KEY_SID=SKb03e8b1e7e17fa9b8cd0021a9dc20c4c
TWILIO_API_KEY_SECRET=8HhNT8jqf9mrYnypeVs1XZu4TqZVU9QF




